{% extends 'base.html' %}
{% block content %}

<a href="/logout">
    Logout
</a>
 ||
<a href="/home">
    Back
</a>

<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-50 p-b-90">

<form class ="login100-form validate-form flex-sb flex-w" name="reservation_form" action="/shelter/{{shelter.id}}" method="POST">
    {% csrf_token %}

    <div class="wrap-input100 m-b-16">
        <input class="input100" id="bed_qtd_id" name="bed_qtd" type="number" placeholder="Number of beds" min="1"/>
        <span class="focus-input100"></span>
    </div>
    <input type="hidden" name="request_type" value=""/>
    <input type="button" value="Reserve" onclick="document.reservation_form.elements.request_type.value='reserve';document.reservation_form.submit()"/>
    <input type="button" value="Cancel Reservation" onclick="document.reservation_form.elements.request_type.value='cancel';document.reservation_form.submit()"/>

</form>

{%if message%}
    <p>{{message}}</p>
{%endif%}


<div>
   <p>
       Name: {{shelter.name}}
   </p>
   <p>
       Total Capacity: {{shelter.capacity}}
   </p>
   <p>
       Current Capacity: {{shelter.curr_capacity}}
   </p>
   <p>
       Address: {{shelter.address}}
   </p>
   <p>
       Longitude: {{shelter.longitude}}
   </p>
   <p>
       Latitude: {{shelter.latitude}}
   </p>
   <p>
       Restrictions: {{shelter.restrictions}}
   </p>
   <p>
       Special Notes: {{shelter.special_notes}}
   </p>
   <p>
       Phone Number: {{shelter.phone_number}}
   </p>
</div>


</div></div></div>

{% endblock %}
